<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/client/index.ts"></script>
    <title>domco+htmx</title>
  </head>
  <body>
    <main>
      <button
        hx-post="/clicked"
        hx-swap="innerHTML"
        class="bg-black text-white"
      >
        Click Me
      </button>
      <button x-data="{count: 0}" @click="count++" x-text="count"></button>
      <button hx-get="/dialog" hx-target="main" hx-swap="beforeend">
        Open
      </button>
    </main>
  </body>
</html>
